/* General Styles */
.hidden {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

body {
    background-color: black;
    align-content: center;
    text-align: center;
    overflow: hidden;
}

.imgWalter {
    position: absolute;
    margin-top: 18rem;
    
}

.walterLeft {
    margin-left: -100rem;
    transition: margin 5s;
}

.walterRight {
    margin-left: 100rem;
    transition: margin 5s;
}

.walterLeft.visible {
    margin-left: -40rem;
    animation-name: spin;
    animation-duration: 5s;
}

.walterRight.visible {
    margin-left: 28rem;
    animation-name: spinright;
    animation-duration: 5s;
}

/* View Styles */

.vwPlayButton {
    display: inline;
    opacity: 100;
    transition: opacity 3s;
}

.vwDanger {
    display: none;
    opacity: 0;
    transition: opacity 3s;
}

.vwVideo {
    display: none;
    opacity: 0;
    height: 70rem;
    margin-top: -1rem;
    transition: opacity 3s;
}

/* Button Styles */

    /* Play Button*/

    .imgPlayButton{
        height: 10rem;
        width: 10rem;
        filter: invert(100%);
        border-width: 1rem;
        border-color: black;
        border-style: solid;
        padding: 2rem 4rem;
        border-radius: 3rem;
        opacity: 90%;
        cursor: pointer;
        transition: opacity 3s;
    }

    .imgPlayButton:hover {
        background-color: rgb(220, 220, 220);
    }

    .btnPlayButton {
        background-color: transparent;
        transition: all 2s;
        border: none;
        margin-top: 28rem;
    }

    /* Alert Button */

    .imgDanger{
        height: 20rem;
        width: 20rem;
        filter: invert(100%);
        border-width: 1rem;
        opacity: 90%;
        cursor: pointer;
        transition: opacity 3s;
    }

    .imgDanger:hover {
        height: 22rem;
        width: 22rem;
        padding-top: -1rem;
    }

    .btnAlertButton {
        background-color: transparent;
        transition: all 2s;
        border: none;
        margin-top: 28rem;
    }

/* Animations */

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes spinright {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}